/********************************************************************************************************** 
 * General definitions
 */
body { margin: 0px; padding: 0px; overflow: hidden; font-family: Tahoma, Arial, sans-serif; }

/********************************************************************************************************** 
 * Main Content
 */
#topArea    { position: absolute; top: 0px; width: 100%; height: 5%; background: black; min-height: 42px; z-index: 99; }
#centerArea { position: absolute; top: 5%; width: 100%; height: 90%; text-align: center; }
#bottomArea { position: absolute; bottom: 0px; width: 100%; height: 5%; background: rgb(46, 46, 46); min-height: 42px; z-index: 99; }

/** Backgroung content information */
#backgroundArea  { position: absolute; width: 100%; height: 100%; background-size: cover; opacity: 0.9; }
/* .backgroundImage { background-image: url(../images/recife_004.jpg); } */

/** Logo content area information */
#logoArea            { position: absolute; top: 15%; left: 5%; transition-property: top; transition-duration: 0.5s; transition-delay: 0s; }
.logoAreaPositionAdj { top: 2% !important; }
#logo                { position: relative; top: 15%; box-shadow: 5px 5px 10px rgb(58, 58, 58); cursor: pointer; }

/** Search content area information */
#searchArea            { position: absolute; top: 33%; left: 5%; width: 600px; height: 40px; opacity: 0.9; transition-property: top; transition-duration: 0.5s; transition-delay: 0s; }
.searchAreaPositionAdj { top: 16% !important; }

/** Search filter area information */
#searchFilterArea            { position: absolute; width: 25%; height: 100%; background: url(../images/ico_list.png) no-repeat right white; border-radius: 3px; border: 4px solid white; box-shadow: 5px 5px 10px rgb(58, 58, 58); transition-property: width; transition-duration: 0.5s; transition-delay: 0s; }
.searchFilterAreaPositionAdj { width: 4% !important; }

/** Search content area information */
#searchContentArea            { position: absolute; left: 27%; width: 90%; height: 100%; background: url(../images/ico_search.png) no-repeat right white; border-radius: 3px; border: 4px solid white; box-shadow: 5px 5px 10px rgb(58, 58, 58); transition-property: left, width; transition-duration: 0.5s; transition-delay: 0s; }
.searchContentAreaPositionAdj { left: 6% !important; width: 55% !important; }

#searchFilter  { width: 100%; height: 100%; font-size: 18px; border: 0px; outline: none; background: transparent; -webkit-appearance: none; appearance: none; color: rgb(66, 66, 66); text-shadow: 1px 1px 1px rgb(204, 204, 204); }
#searchContent { width: 92%; height: 88%; left: 0px; position: absolute; outline: none; font-size: 18px; border: 0px; color: rgb(66, 66, 66); text-shadow: 1px 1px 1px rgb(204, 204, 204); }

/********************************************************************************************************** 
 * Custom Area - For specific in-dialog messages.
 */
#customArea  { position: absolute; top: 30px; width: 445px; height: 93%; right: 2%; opacity: 0.9; visibility: hidden; }
.titleArea   { position: absolute; width: 100%; height: 35px; border-radius: 5px; box-shadow: 3px 3px 5px rgb(58, 58, 58); background: rgba(0, 0, 0, 0.5); }
.detailsArea { position: absolute; top: 40px; height: 90%; background: rgba(39, 39, 39, 0.9); width: 100%; border-radius: 5px; box-shadow: 3px 3px 5px rgb(58, 58, 58); }
.titleImage  { position: absolute; left: 2%; top: -11px; }
.minusImage  { position: absolute; top: 5px; right: 2%; cursor: pointer; }
.titleText   { position: absolute; top: 5px; width: 78%; left: 14%; margin: 0px; color: white; font-size: 18px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

/********************************************************************************************************** 
 * Searching Result Area
 */
#resultArea    { position: absolute; width: 50%; height: 93%; background: rgba(255, 255, 255, 0.81); right: -100%; top: 4%; box-shadow: 5px 5px 10px rgb(58, 58, 58); transition-property: right; transition-duration: 0.5s; transition-delay: 0s;}
.resultAreaAdj { right: 3% !important; }

#closeSearchArea { position: absolute; right: -13px; top: -13px; background: url(../images/close.png) no-repeat; width: 32px; height: 32px; cursor: pointer; }

#resultTextTitle { position: absolute; width: 100%; top: 8px; }
#textTitleSide_l { position: absolute; left: 10%; background: url(../images/textbanner_l.png) no-repeat; width: 97px; height: 34px; box-shadow: 11px 5px 12px rgb(52, 52, 52); }
#textTitleResult { position: absolute; width: 60%; height: 34px; background-color: #71a6ff; line-height: 34px; left: 20%; z-index: 2; top: -5px; box-shadow: 5px 5px 5px rgb(80, 80, 80); color: white; font-weight: 600; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.47); }
#textTitleSide_r { position: absolute; right: 10%; background: url(../images/textbanner_r.png) no-repeat; width: 97px; height: 34px; box-shadow: -12px 5px 13px rgb(52, 52, 52); }

#noResult     { position: absolute; top: 20%; width: 100%; visibility: hidden; transition-property: visibility; transition-duration: 1s; transition-delay: 0s; }
.noResultAdj  { visibility: visible !important; }
#noResultText { font-size: 25px; text-shadow: 0px 1px 2px black; }
#noResultIcon { background: url(../images/map_warning.png) no-repeat; width: 64px; height: 64px; left: 45%; position: relative; top: 13px; }

#hasMultipleResult        { position: absolute; top: 7%; width: 100%; height: 92%; overflow-y: auto; overflow-x: hidden; visibility: hidden; transition-property: visibility; transition-duration: 1s; transition-delay: 0s; }
.hasMultipleResultAdj	  { visibility: visible !important; }
#entryResult              { height: 64px; width: 100%; line-height: 64px; float: left; margin-top: 8px; }
#entryResultIcon          { position: relative; width: 17%; height: 100%; left: 10px; float: left; background: white; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.34); border-radius: 5px 0px 0px 5px; z-index: 2; transition-property: left; transition-duration: 2s; transition-delay: 0s; }
.entryResultIconAdj       { left: -100% !important; }
#entryResultContent       { position: relative; float: left; width: 75%; left: 2%; background: white; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.34); border-radius: 0px 5px 5px 0px; z-index: 1; font-size: 20px; font-weight: 700; text-align: left; text-indent: 3%; cursor: pointer; transition-property: left; transition-duration: 2s; transition-delay: 0s; }
.entryResultContentAdj    { left: 100% !important; }
#entryResultContent:hover { background: whitesmoke; }

#hasResult { visibility: hidden; transition-property: visibility; transition-duration: 1s; transition-delay: 0s; }
.hasResultAdj { visibility: visible !important; }
#resultMap { position: absolute; width: 96%; height: 35%; right: 2%; top: 10%; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.28); border: 1px solid black; }
#resultDetailsLineArea { position: absolute; top: 48%; width: 100%; height: 88px; }
#resultDetails      { padding: 4px; width: 100px; background: white; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.28); height: 100%; float: left; margin-left: 10px; }
#resultDetailsText  { position: relative; bottom: 0px; height: 57%; font-size: 13px; }
#resultDetailNumber { position: relative; width: 100%; height: 43%; font-size: 30px; font-weight: 700; }
.resultHomeDetail   { border: 4px outset #FF7171; }
.resultEnergyDetail { border: 4px outset #71a6ff; }
.resultWaterDetail  { border: 4px outset #88FF71; }
.resultWasteDetail  { border: 4px outset #FFF971; }
.resultPhoneDetail  { border: 4px outset #EE71FF; }
#resultPieGraph  {}
#resultBarsGraph {}